*, 
*::before, 
*::after {
    -webkit-box-sizing: border-box ;
    -moz-box-sizing:border-box ;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --main-color: #00c7fc;
    --back-color: #000;
    --light-color:#ddd ;
    --dark-color: ;
    --font-size: ;
}

/*start global styling*/
body {
    font-family: " work sans", sans-serif;
}
.container {
    width: 750px;
    max-width: 95%;
    padding-block:1rem;
    margin: 0 auto;
    text-align: center;
}

.section-heading {
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 1.5rem
}

.section-heading::before,
.section-heading::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
}

.section-heading::before {
    background: gray;
    height: 2px;
}

.section-heading::after {
    width: 10px;
    height: 10px;
    border: 2px solid gray;
    border-radius: 50%;
    background: #fff;
    right: 50%;
    transform: translate(50%, 50%);
}
.section-heading + div {
    color: gray;
    text-align: center;
    margin-bottom: 3rem;
}
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

/*end global styling*/
/*start header styling*/
header {
    background: var(--back-color)
}
header .container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
}

.logo img {
    width: 10rem;
}
/*start nav styling*/
header input[type=checkbox] {
    display: none;
}
.icon {
    height: 30px;
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: flex-end;
  }
  
.icon span {
    width: 100%;
    background-color: var(--light-color);
    height: 2px;                                          
    transition: width 225ms;
}

.icon span:nth-child(2) {
    width: 60%;
}

label:hover .icon span:nth-child(2) {
    width: 100%;

} 

header ul a {
    text-decoration: none;
    color: var(--back-color);
    display: block;
    transition: transform 225ms;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background: var(--light-color);
    transform: scale(0);
    right: 0;
    top: calc(100% + 10px);
    transition: transform 225ms;
    transform-origin: right top;
    z-index: 999;
    opacity: .7;
    width: 130px;
    align-items: center;
}

header ul:before {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: var(--light-color) ;
    top: -20px;
    right: 0;
    
}

input[type=checkbox]:checked ~ ul {
    transform: scale(1);
}

nav li {
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}

nav li:not(:last-child) {
    border-bottom: 2px solid  var(--light-color);
}

ul a:hover {
    transform: translate(-15px);
}

nav {
    position: relative;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 5px ;
    background:  var(--light-color);
    padding: 2px;
}


.search-bar i {
    color: var(--main-color);
    height: 100%;
    display: grid;
    place-content: center;
    border-bottom-right-radius: 5px ;
    border-top-right-radius: 5px ;
    background:  var(--light-color);
   
}

.search-bar input {
    width: 100%;
    border: unset;
    outline: unset;
    border-bottom-left-radius: 5px ;
    border-top-left-radius: 5px ;
    background :var(--light-color)
}

label {
    height: 100%;
}

@media screen and (min-width: 40em) {
    header .container {
        border-bottom: 2px solid  var(--light-color);

    }
    label.nav-toggle {
        display: none;
    }

    nav li:not(:last-child) {
        border-bottom: unset;
        
    }
 

    header ul a {
        border: unset;
        width: fit-content;
        position: relative;
        color: #fff;
    }

    header ul a:hover::before,
    .active:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: var(--main-color);
        bottom: -41px
    }

    ul a:hover {
        transform: translate(0);
    }

    header ul {
        transform: scale(1);
        position: static; 
        display: flex;
        background: transparent;
        justify-content: space-between;
        width: auto;
    }

    header ul::before {
        transform: scale(0);
        
    }
}
/*end nav styling*/
/*start landing styling*/
.landing {
    isolation: isolate;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../imgs/owl.jpg);
    background-size: cover;

}

.landing .card{
    position: relative;
    width: 70%;
    max-width: 650px;
    padding: 2rem;
    color: var(--light-color);
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1 ;
    background: var(--main-color);
    opacity: .5;
}
/*end landing styling*/
/*start services styling*/

.services {
    padding-block: 2rem;
}

.section-one {
    background: white;
}



.services h3 {
    color: var(--main-color);
}

.section-two {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../imgs/design-features.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

 .services-card{
    position: relative;
    width: 70%;
    max-width: 650px;
    padding: 2rem;
    color: var(--light-color);
    align-self: center;
}

.img img {
    max-width: 100%;
   
}

.img {
    width:70%;
    
}



@media screen and (min-width: 40em) {
    .demo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .demo > div {
        display: flex;
        width: calc( 50% - 40px);
        justify-content: space-between;
    }

    .demo .text {
        width: calc(80% - 15px);
    }

    .demo i {
        width: calc(20% - 15px);
    }
    .section-two {
        flex-wrap: nowrap;
}}

/*end services styling*/
/*start portfolio styling*/
.cat {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.cat a {
    text-decoration: none;
    color: #000;
    padding: .5rem;
    transition: 225ms background-color;
    font-weight: 600 ;
}

.cat a:hover {
    background-color: var(--main-color);
}



.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    text-align: center;
    
}

.gallery div {
    position: relative;
    cursor: pointer;
}

.gallery div::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: var(--main-color);
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.gallery div::after {
    content: "+";
    position: absolute;
    color: #fff;;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem
    
}

.gallery div img {
    background-color: #000;
    width: 100%;
    height: 150px;
    
}

.gallery div p {
    transform: scale(0);
    transition: 225ms transform;
}

.gallery div::before,
.gallery div::after {
    transform: translate(-50%, -50%) scale(0);
    transition: 225ms transform;
    opacity: .5;
}

.gallery div:hover::before, 
.gallery div:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.gallery div:hover p {
    transform:scale(1); 
}

.btn-1 {
    color: #fff;
    background-color: var(--main-color);
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: transparent;
    margin: 0 auto 3rem;
    cursor: pointer;
}

.btn-1:hover {
    box-shadow:0px 0px 9px 0px #2e464d inset;
}

.btn-2 {
    color: #fff;
    background:  #000;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    outline: solid 2px #000;
    transition:300ms all ease-in-out;
}

.btn-2:hover {
    outline-offset: 4px;
    outline: solid 2px #000;
}

.super {
    text-align: center;
    background: var(--main-color);
    padding: 3rem;
    opacity: .9;
}
/*end portfolio styling*/
/*start about styling*/
.abt-us .container img {
    width: 100%;
}
.abt-us {
    position: relative;
}
.abt-us .black {
    background-color: #000;
    isolation: isolate;

}

.abt-us .card {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #fff;
    
}

/* .abt-us .card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 29%;
    background:#000;
    bottom: -8%;
    z-index: -1;

} */







/*end about styling*/
/*start footer section*/
footer {
    background-color: #000;
    color: #fff;
    margin-top: 2rem;
}



footer .social::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: -5px;
    
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    
}

.socials a {
    color: white;
    margin-top: 1rem;
    margin-bottom: 4rem;
    
}

footer .social {
    font: bold 1.5rem sans-serif;
    position: relative;
}

footer .copyright span {
    color: var(--main-color)
}
/*end footer section*/
